<form action="/auth/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
		<label>peerId:</label>
		<input type="text" name="peerId" value=<%= peerId %> />
	</div>
	<div>
		<label>roomId:</label>
		<input type="text" name="roomId" value=<%= roomId %> />
	</div>	
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
